<%- include('./layouts/head')%>
  <%- include('./layouts/header')%>

    <style>
      .result {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }

      .result div {
        /* width: 50%; */
        border: 2px solid gray;
      }
    </style>
    <div class="result">

      <% data.forEach(item=>{%>
        <div>
          <h3>
            <%= item.title%>
          </h3>
          <h2>
            <%= item.comapany%>
          </h2>
          <p>
            <%= item.location%>
          </p>
          <p>
            <%= item.url%>
          </p>
          <form action="/mylistt" method="POST">
            <input type="hidden" name="title" value="<%= item.title%>">
            <input type="hidden" name="comapany" value="<%= item.comapany%>">
            <input type="hidden" name="location" value="<%= item.location%>">
            <input type="hidden" name="url" value="<%= item.url%>">
            <button>add to my list</button>

          </form>
        </div>

        <%});%>

    </div>